@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
}

.chat-btn svg {
  width: 25px;
  height: 25px;
}

/* Add this to your App.css */
@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

.typing-indicator span {
  display: inline-block;
  margin: 0 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000; /* or any color that fits your design */
  animation: blink 1.4s infinite both;
}

.typing-indicator span:nth-child(1) {
  animation-delay: 0s;
}

.typing-indicator span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
  animation-delay: 0.4s;
}
